/.htaccess
/wp-config.php
**/*.DS_Store
**/*.scssc

/app/*
!/app/themes
!/app/plugins
/app/plugins/acf-options-page
/app/plugins/acf-repeater
/app/plugins/advanced-custom-fields
/app/plugins/acf-flexible-content

/app/themes/*
!/app/themes/commongood
/app/themes/commongood/.sass-cache
/app/themes/commongood/bower_components
/node_modules


!/app/themes/commongoodv2
app/themes/commongoodv2/node_modules

!/app/themes/cg
app/themes/cg/node_modules
app/themes/cg/dist
app/themes/cg/vendor
