@font-face {
	font-family: 'ConduitITCStdLight';
	src: url('fonts/conduititcstd_light-webfont.eot');
	src: local('☺'), url('fonts/conduititcstd_light-webfont.woff') format('woff'), url('fonts/conduititcstd_light-webfont.ttf') format('truetype'), url('fonts/conduititcstd_light-webfont.svg#webfontsEEOFHrA') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ConduitITCStdMedium';
	src: url('fonts/conduititcstd_medium-webfont.eot');
	src: local('☺'), url('fonts/conduititcstd_medium-webfont.woff') format('woff'), url('fonts/conduititcstd_medium-webfont.ttf') format('truetype'), url('fonts/conduititcstd_medium-webfont.svg#webfont4C1nJC9o') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ConduitITCStdLightItalic';
	src: url('fonts/conduititcstd_lightitalic-webfont.eot');
	src: local('☺'), url('fonts/conduititcstd_lightitalic-webfont.woff') format('woff'), url('fonts/conduititcstd_lightitalic-webfont.ttf') format('truetype'), url('fonts/conduititcstd_lightitalic-webfont.svg#webfontsD3OZPKN') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ConduitITCStdBold';
	src: url('fonts/conduititcstd_bold-webfont.eot');
	src: local('☺'), url('fonts/conduititcstd_bold-webfont.woff') format('woff'), url('fonts/conduititcstd_bold-webfont.ttf') format('truetype'), url('fonts/conduititcstd_bold-webfont.svg#webfont6WxmFDDB') format('svg');
	font-weight: normal;
	font-style: normal;
}