.nav {

}
	.nav--btn {
		li {
			margin-right:$half-spacing-unit;
			margin-bottom:$half-spacing-unit;
			a {
				
			}
		}
	}
		
		.nav--btn--secondary li a {
			@extend .btn;
			@extend .btn--milli;
			@extend .btn--primary;
		}
		.nav--btn--secondary li a {
			@extend .btn;
			@extend .btn--milli;
			@extend .btn--secondary;
		}
		.nav--btn--tertiary li a {
			@extend .btn;
			@extend .btn--milli;
			@extend .btn--tertiary;
		}


.page-numbers {
	@extend .nav;
	li {
		a, span {
			padding:$half-spacing-unit;
			display:inline-block;
			zoom:1;
		}
		.next {

		}
		.prev {
				
		}
		.current {
			
		}
	}
}

