

.icon-angle-left, .icon-angle-right  {
	position:absolute;
	left:0;
	top:50%;
	margin:0 $base-spacing-unit;
	@include font-size(30px);
	@include transform(translate(-50%, -50%));
}
.icon-angle-right {
	right:0;
	left:auto;
}


.state-nav-is-shown {
	overflow-y:hidden;
	height: 100%;
	body {
		height: 100%;
	}
}

.site {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	right:0;

	@include transform(translate3d(0, 0, 0));
	@include transition(transform .2s);
	.state-nav-is-shown & {
		@include transform(translate3d(0, 100%, 0));
		
		@include media-query(desk) {
			@include transform(translate3d(0, $drawer-height, 0));
			@include transition(transform .2s);
		}

		
	}
}

.hide-on-single {
	.single & {
		display:none !important;
	}
}



.block-level {
	display: block;
}

.grid__item.auto {
	width:auto;
}
