/* =========================================
Links/Anchor Component
========================================= */

a,
.link {
  outline: none;
  color: inherit;
  text-decoration: inherit;
  color: $ca-anchor-color;
  &:hover {
    color: $ca-anchor-hover-color;
  }
  &.is-active {
  }
}
