/* =========================================
List Component
========================================= */

.list {
  &,
  li {
    margin: 0;
    padding: 0;
    list-style:none;
  }

  flex-direction: column;
  display: flex;

  li {
    color: $ca-list-color;
  }

  @include bp($bp-tablet) {
    flex-direction: row;
  }
}

.list--vertical {
  @include bp($bp-tablet) {
    flex-direction: column;
  }
}

.list--right {
  justify-content: flex-end;
}

.list--large {
  li {
    font-size: 2em;
    font-weight: $t-font-weight-bold;
  }
}
