/* =========================================
Typography
========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

$t-font-family: 'neuzeit-grotesk', sans-serif;
$t-font-weight-regular: 300;
$t-font-weight-bold: 700;
