.drawer {
	@include transform(translate3d(0, -100%, 0));
	@include transition(transform .2s);
	position: fixed;
	right:0;
	top: 0;
	left: 0;
	width:auto;
	background: $grey-darker;
	z-index: 5;
	overflow-y: scroll;
	text-align:center;
	height:100%;
	padding:0;
	padding-bottom:100px;
	@include media-query(desk) {
      height: $drawer-height;
      padding:$base-spacing-unit ;
      padding-bottom:0;
    }
	.state-nav-is-shown & {
		@include transform(translate3d(0, 0, 0));
		@include transition(transform .2s);
		
	}
	
	ul {		
		> li {
			
			ul {
				margin:0;
				li {
					@include font-size(10px);
					float:none;
					padding:0;
				}
			}
			a {
				color:$white;
			}
		}
	}
}

.nav--product {
	@extend .nav--stacked;
	@include font-size(20px);
	li {
		
		a {
			border-left:none;
			padding:$base-spacing-unit* 2 0 $base-spacing-unit;
		}
	}
	@include media-query(lap-and-up) {
		li {
			width:25%;
			display: block;
			float:left;
		}
	}
}
.nav--support,
.nav--resources,
.nav--commercial {
	text-align:center;
	position:relative;
	li {
		a {
			@include font-size(14px);
			padding:0 $half-spacing-unit/2;
		}
	}
	@include media-query(palm) {
		li {
			display:block;
		}
	}
}

.nav--about {
	li {
		padding: $half-spacing-unit $half-spacing-unit 0;
		a {
			@include font-size($milli-size)
		}
	}
	@include media-query(palm) {
		li {
			width:50%;
			margin-left:-4px;
		}
	}
} 
.nav--social {
	margin-top:$base-spacing-unit;
	li a {
		border:1px solid;
		padding:$half-spacing-unit/ 2 $half-spacing-unit;
		width:130px;
		@include font-size($milli-size)
	}
}

.nav__label {
	display:block;
	text-align:center;

}
