/* FORMS */

form {
	
	input, textarea {
		@include transition(background .2s);
		width:100%;
		background:$white;
		border:$border;
		height:50px;
		line-height: 50px;
		margin:0 0 0em;
		@include font-size(20px);
		padding-left:$half-spacing-unit;
		@include border-radius(3px);

		&:focus, &:active {
			background:rgba($grey, 0.1);
		}
		&[type=checkbox] {
			width:auto;
			height:auto;
			float:left;
			display: block;
			margin-top:4px;
			& + label {
				@include font-size($milli-size);
				float:left;
				
				padding:0 5px;
				display: block;
			}
		}
		&[type=search] {
			@include box-sizing(border-box);
		}
		&[type=search]::-webkit-search-cancel-button {
		    -webkit-appearance: searchfield-cancel-button;
		    margin-right:10px;
		
		}
		&[type=submit] {
			width:auto;
			background:$blue;
			border-color:darken($blue, 10%);
			padding-left:$base-spacing-unit * 1.5;
			padding-right:$base-spacing-unit * 1.5;
			color:$white;
		}
		
		&.input--large {
			height:65px;
		}

	}
	textarea {
		padding-top:$half-spacing-unit;
		min-height:200px;
	}
	
 }

.gform_fields {
	list-style:none;
	padding:0;
	@extend .grid;
	label {
		display:none;
	}
	li {
		@extend .grid__item;
		@extend .one-half;
		list-style:none;
		margin:0 0 $half-spacing-unit;
		//Full width inputs.
		&#field_3_3 {
			@extend .one-whole;
		}
		&.gfield_error {
			input, textarea {
				border-color:$error;
				@include border-radius(3px 3px 0 0);
			}

		}
	}
	ul {
		margin:0;
	}

}




.validation_message {
	@include font-size($milli-size);
	background: $error;
	color:$white;
	text-align: center;
	@include border-radius( 0 0 3px 3px);
}

.newsletter .gform_wrapper {
	@extend .row;
	form {
		@extend .grid;
	}
	.gform_heading,
	.gform_body {
		@extend .grid__item;
		@extend .palm-one-whole;
		@extend .one-third;
		@extend .soft-double--top;

	} 
	.gform_body {
		@extend .two-thirds;
		margin-left:-5px;
	}
	
	.gform_fields {
		> li { 
			@extend .one-third;
			@extend .palm-one-whole;
			margin-top:2px;
			&#field_2_4 {
				@extend .one-whole;
				@extend .palm-one-whole;
				li {
					@extend .one-whole;
					padding:0;
				}
			}
		}
	}
	.gform_footer {
		margin-top: -30px;
		text-align: right;
		@extend .grid__item;
		@extend .one-whole;
	}
	
	.validation_error {
		top:0;
		position:absolute;	
		left:0;
		right:0;
		background:rgba($error, 0.8);
		text-align:center;
		color:$white;
		padding:$half-spacing-unit/2 $half-spacing-unit ;	
		@include font-size(13px);
	}
	
	
}