/*------------------------------------*\
	$HEADINGS
	\*------------------------------------*/


	h1,.alpha{
		font-weight:normal;
		color:$grey-dark;
	}

	h2,.beta{
		font-weight:normal;
		color:$grey-dark;
	}

	h3,.gamma{
		font-weight:normal;
		color:$grey-dark;
	}

	h4,.delta{
		font-weight:normal;
		color:$grey-dark;
	}

	h5,.epsilon{
		text-transform: uppercase;
		letter-spacing: 1px;
		@include font-size(10px);
		color:$grey-dark;
		font-weight:normal;
		margin:0;
	}

	h6,.zeta{
		font-weight:normal;
	}

	.hN{

	}