/*------------------------------------*\
	$IMAGES
\*------------------------------------*/

.img--circle {
	&, & > img {
		@include border-radius(100%)
	}
}


.img--block {
	&, img {
		display: block;
		width: 100%;
		height: auto
	}
}

.post img {
	@extend .img--block;
}

.post__img--large {
	position:relative;
	margin-right:-30%;
	margin-left:-30%;
	display:block;
	margin-bottom:$base-spacing-unit;
	> * {
		width:100% !important;
	}
	.img__caption {
		text-align:center;
		@include font-size($milli-size);
		color:$grey;
	}
}

.img--cover {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}

.img--featured {
	@extend .img--cover;
	height:500px;
	margin-top:-$base-spacing-unit * 5;
}





