$dot-color: $grey;
$anim-duration: .5s;
$dot-size: 5px;

%anim {  
	@include vendor(animation-duration, $anim-duration);
	@include vendor(animation-timing-function, ease-in-out);;
	@include vendor(animation-iteration-count, infinite);
}

.indicator{

	position:absolute;
	left:50%;
	top:98%;

	width: $base-spacing-unit;
	height: $base-spacing-unit;
	margin: 0;
	display: block;
	background: no-repeat;
	@include background-image(
		radial-gradient( closest-side, $dot-color 90%, transparent ),    
		radial-gradient( closest-side, $dot-color 90%, transparent )
		);
	background-size: $dot-size $dot-size;
	background-position: 0%, 50%;

	@include transform(translate3d(-50%, -50%, 0 ),scale( 0.25 ));

	@extend %anim;
	@include vendor(animation-name, slide);
	
	

	&:before,
	&:after {
		@extend %anim;

		content: '';
		width: $dot-size;
		height: $dot-size;
		@include background-image( radial-gradient( closest-side, $dot-color 90%, transparent ));
		position: absolute;
		@include backface-visibility(visible);
		
		
		
	}

	&:before {
		top: 1%;
		@include vendor(animation-name, reveal);
		// to get rid of that nasty blink
	}

	&:after {
		bottom: 1%;
		@include vendor(animation-name, reverse);

	}
}
.indicator--label {
	position:absolute;
	left:-$half-spacing-unit;
	right:0;
	text-align:center;
	top:98%;
	margin-top:-$base-spacing-unit * 1.5;

}
@include keyframe(slide){
	from {
		background-position: 0 0%, 0 50%;
	}
	to {
		background-position: 0 50%, 0 100%; 
	}
}
@include keyframe(reveal){
	from {
		@include transform(scale( 0.001 ));
	}
	to {
		@include transform(scale( 1 ));
	}
}
@include keyframe(reverse){
	from {
		@include opacity(1);
	}
	to {
		@include opacity(0);
	}
}
