/*------------------------------------*\
	$ISLAND
\*------------------------------------*/
/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 * E.g.:
 *
   <div class=island>
	   I am boxed off.
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/u8pV3
 *
 */
 .island,
 .islet{
 	display:block;
 	@extend .cf;
 	position:relative;
 	margin:0;
 	overflow:hidden;
 }

 .island{
 	padding:$base-spacing-unit * 5 $base-spacing-unit $base-spacing-unit * 2;
 	
 }
 .island > :last-child,
 .islet > :last-child{
 	margin-bottom:0;
 }


/**
 * 	Just like `.island`, only smaller.
 */
	.islet{
		padding:0 $base-spacing-unit;
	}



.island--cover {
	
	
}
	.island--background--cover  {
		background-size:cover;
	}
	.island--background--left {
		background-position: left bottom;
	}
	.island--background--right {
		background-position: right bottom;
	}
	.island--background--center {
		background-position: center bottom;
	}
	.island--full {
		height:100%;
		width:100%;
		&, 
		& .row,
		& .grid {
			height:100%;
		}
	}
	.island--medium {
		&, 
		& .row,
		& .grid {
			height:560px;
		}
	}
	.island--small {
		&, 
		& .row,
		& .grid {
			height:400px;
		}
	}
	.island--background-fixed {
		background-attachment:fixed;
	}

/**
 * 	Specific Types of Islands
 */

.island--banner {
	background-repeat:no-repeat;
	position:relative;
	&:after {
	    content:  '';
	    height: auto;
	    width: auto;
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    display:block;
	}
	.grid {
		z-index: 1;
		position: relative;
	}
	&.background--green:after {
		 background: rgba($green-dark, 0.5);
	}
	&.background--blue:after {
		 background: rgba($blue-dark, 0.5);
	}
	&.background--steel:after {
		 background: rgba($steel, 0.5);
	}
	&.background--white:after {
		 background: rgba($white, 0.5);
	}
	@include media-query(lap-and-up) {
		&:after {
			display:none;
		}
	}
	@include media-query(palm) {
		background-position:center center !important;
		background-size:cover !important;
	}
}


/**
 * 	Border seperator styles, lets keep these to full width bottoms only.
 */

.border--bottom {
	border-bottom:1px solid $grey-lighter;
}

.border--double--bottom {
	border-bottom:6px solid $grey-lighter;
}







