/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer {

}

/* Footer
-----------------------------------------------------------------------------*/


.site-title--small{
	display:block;
	height:7px;
	width:54px;
	float:right;
	a {
		background-image:url(../images/logo-s.png);
		background-repeat:no-repeat;
		height:7px;
		width:54px;
		text-indent:-9999px;
		margin:8px 0px 0;
		display:block;
		border:none;
	}

} 
