
.site-title {
	position:absolute;
	bottom:7px;
	left:$half-spacing-unit;;
	margin:0;
	a {
		background:url(../images/logo.png) no-repeat center center;
		height:22px;
		width:167px;
		text-indent:-9999px;
		display:block;
		border:none;
	}		
}

