a {
	@include transition(color .2s);
	color:$navy;
	text-decoration:none;

	p > &,
	li > & {

	}	
	
	&.link--secondary {
		padding-bottom:2px;
		position:relative;
		border:none;
		z-index: 1;
		&:after {
			bottom:0;
			left:0;
			right:0;
			content:'';
			position:absolute;
			height:0px;
			background:$navy;
			opacity:0;
			z-index: 0;
			@include transition(all .2s);
			@include transform(translate(0, -3px));
		}
		&:hover:after, &.active:after {	
			opacity:1;
			height:2px;
			@include transition(all .2s);	
			@include transform(translate(0%, 0));
		}
	}

	&.link--tertiary {
		
		&:hover {
			
		}
	}

	&.link--inverted {
		
		&:hover {
			
		}
	}

	&.link--natural {
		
		&:hover {
		}
	}
}
