.nav {

}

.nav--stacked {
	li {
		display:block;
		a {
			display:inline;
		}
	}
}
	
	
.nav--global {
	text-align:right;
	margin:0;
	li {
		text-transform: uppercase;
		font-weight:normal;
		margin-top:55px;
		padding-left:$base-spacing-unit;
		font-family:$font-family-bold;
		a {
			padding-bottom:2px;
			position:relative;
			border:none;
			z-index: 1;
			&:after {
				bottom:0;
				left:0;
				right:0;
				content:'';
				position:absolute;
				height:0px;
				background:$navy;
				opacity:0;
				z-index: 0;
				@include transition(all .2s);
				@include transform(translate(0, -3px));
			}
			&:hover:after, &.active:after {	
				opacity:1;
				height:2px;
				@include transition(all .2s);	
				@include transform(translate(0%, 0));
			}
			
		}
	}
	@include media-query(palm) {
		text-align: left;
		margin:10px 0 40px;
		li {
			display:block;
			margin-top:5px;
			padding-left:0;
		}
	}
}