body {
	color:$navy;
	background:$grey;
	overflow-x:hidden;
	font-family:$font-family-light;
}

html {
	-webkit-font-smoothing: antialiased;
}

.row {
	width:100%;
	max-width:$site-width;
	margin:auto;
	padding:0 $half-spacing-unit;

	
}

.row--dashed {
	position:relative;

	&:after , &:before {
		height:1px;
		width:20px;
		background:$navy;
		content: ' ';
		position:absolute;
		top:0;
	}
	
	&:before {
		right:110%;
	}
	
	&:after {
		left:110%;
	}
	&.row--dashed--bottom {
		&:after, &:before {
			top:auto;
			bottom:0;
		}
	}
	&.row--dashed--meta {
		&:before {
			@include transform(translateX(-14px));
		}
		&:after {
			@include transform(translateX(14px));
		}
	}
}


.flex-video {
	margin-bottom:0;
}

/* edges 
-----------------------------------------------------------------------------*/

body {
  	@include background-image(linear-gradient(left, $white, $grey 25%, $grey 75%, $white 100%));
	&:before, &:after {
		content:' ';
		top:0;
		bottom:0;
		position:fixed;
		background-position:center center;
		width:49px;
		background-repeat:no-repeat;
	}

	&:before {
		left:-24px;
		z-index:-1;
		background-image: url(../images/logo-sides.png);
	}
	
	&:after {
		right:-24px;
		z-index:-1;
		background-image: url(../images/logo-sides.png);
	}
}

.flex-video.widescreen {
	padding-bottom: 56.4%;
}


#map {
	background:$black;
	@include transition(all .3s ease);  
	overflow:hidden;
	height:350px;
	position:relative;
	background-image: url(../images/map.jpg);

	&.showmap {
		overflow:visible;
		height:350px;
		@include opacity(1);    
		@include transition(all .3s ease);  
	}
}

