body {
	margin:0 !important;
	height:100%;
	color:$navy;
	background:$grey;
	overflow-x:hidden;
	font-family:$font-family-light;
}

html {
	-webkit-font-smoothing: antialiased;
	height:100%;
}

.row {
	width:100%;
	max-width:$site-width;
	margin:auto;
	padding:0 $half-spacing-unit;
	
}

.row--dashed {
	position:relative;

	&:after , &:before {
		height:1px;
		width:20px;
		background:$navy;
		content: ' ';
		position:absolute;
		top:0;
	}
	
	&:before {
		right:110%;
	}
	
	&:after {
		left:110%;
	}
	&.row--dashed--bottom {
		&:after, &:before {
			top:auto;
			bottom:0;
		}
	}
}


.flex-video {
	margin-bottom:0;
}

/* edges 
-----------------------------------------------------------------------------*/

#left, #right, #right-logo, #left-logo {
	background: black;
	opacity:1;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 88px;
}
#left, #right {
	opacity:0.5;
}
#left {
	left: 0;
	background: url(../images/left.png) left center repeat-y;
}
#right {
	right: 0;
	background: url(../images/right.png) right center repeat-y;
}
#right-logo {
	background:url("../images/logo-sides.png") no-repeat scroll left center transparent;
	right:0;
	width:25px;
}
#left-logo {
	background:url("../images/logo-sides.png") no-repeat scroll right center transparent;
	left:0;
	width:25px;
}