.work-block {
	position:relative;
	display:block;
	&:hover .work-block__text {
		@include transition(opacity 0.2s ease);
		@include opacity(1);
	}
}

.work-block__text {
	background:rgba($navy, 0.7);;
	color:#FFFFFF;
	bottom: 12px;
	left: 8px;
	right:8px;
	padding:3px 7px;
	margin:0;
	position:absolute;
	width:auto;
	line-height:1.2;
	@include transition(opacity 0.2s ease);
	@include opacity(0);
}
