/*------------------------------------*\
    $Typography
\*------------------------------------*/

/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

p, li {
}



p.lead {
	
}


/*------------------------------------*\
    $Inline
\*------------------------------------*/

strong, b {
	font-weight:normal;
	font-family: $font-family-bold;

}
em, i {
	font-family: $font-family-italic;
	font-style: normal;
}


/*------------------------------------*\
    $Special
\*------------------------------------*/


.video__meta {
	span {
		line-height: 1.35;
	}
}