/*------------------------------------*\
    $Typography
\*------------------------------------*/

/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

p, li {
}



p.lead {
	
}


strong, b {
	font-weight:normal;
	font-family: $font-family-bold;

}
em, i {
	font-family: $font-family-italic;
	font-style: normal;
}