<div class="video one-whole grid__item " >
	<div class="flex-video widescreen vimeo video__player ">
		<iframe src="{{player}}" width="100%" height="360px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="grid grid--full row--dashed row--dashed--meta">
		<div class="soft--top soft--bottom grid video__meta">
			<div class="grid__item one-quarter palm-one-half">
				<h3 class="flush--bottom" ng-bind-html="playing.title" ></h3>
			</div><!--
			--><div class="grid__item one-quarter palm-one-half">
				<span  class="gamma soft-half--right" ng-show="playing.post_meta.agency">Agency</span> 
				<span ng-bind-html="playing.post_meta.agency"></span>
			</div><!--
			--><div class="grid__item one-quarter palm-one-half">
				<span  class="gamma soft-half--right" ng-show="playing.post_meta.director">Director</span> 
				<span ng-bind-html="playing.post_meta.director"></span>
			</div><!--
			--><div class="grid__item one-quarter palm-one-half">
				<span  class="gamma soft-half--right" ng-show="playing.post_meta.client">Client</span> 
				<span ng-bind-html="playing.post_meta.client"></span>
			</div>
			<!--
			--><div class="grid__item one-whole palm-one-half">
			<!-- Facebook -->
			<!-- <a href="http://www.facebook.com/sharer.php?s=100&p[url]=http://commongood.tv/?v={{playing.slug}}&p[images][0]={{playing.post_meta.thumbnail[0]}}&&p[title]={{playing.title}}&p[summary]={{playing.post_meta.client[0]}}" class="btn btn-primary" target="_blank">
			Share on Facebook : {{ playing.post_meta.client[0] }}</a>
			<pre>http://www.facebook.com/sharer.php?s=100&p[url]=http://commongood.tv/?v={{playing.slug}}&p[images][0]={{playing.post_meta.thumbnail[0]}}&&p[title]={{playing.title}}&p[summary]={{playing.post_meta.client[0]}}</pre>
 -->
			<!-- <a href="https://www.facebook.com/sharer.php?s=100&p[url]=http://commongood.tv/?v=airtransat-holidays&p[images][0]=http://b.vimeocdn.com/ts/454/174/454174623_640.jpg&&p[title]=Air Transat Holiday&p[summary]=Video for Air transat lorem ipsum description" class="btn btn-primary" target="_blank">Fiona on Facebook</a> -->

			<a href="https://www.facebook.com/dialog/feed?
  app_id=729898417042523&display=popup&caption=Common%20Good&name={{playing.title}}&description=Client:%20{{playing.post_meta.client[0]}},%20Director:%20{{playing.post_meta.director[0]}},%20Agency:%20{{playing.post_meta.agency[0]}}&link=https%3A%2F%2Fcommongood.tv%2F?v={{playing.slug}}&redirect_uri=https://commongood.tv/?v={{playing.slug}}&picture={{playing.post_meta.thumbnail[0]}}">Share on Facebook</a>

			</div>
		</div>	
	</div>	
</div>

