/* =========================================
Paragraph Typography
========================================= */

p,
.p {
  color: $ca-paragraph-color;
  margin: 0 0 $d-duo;
}

.paragraph--lead > p,
p.paragraph--lead {
  @include bp($bp-tablet) {
    font-size: $t-font-size-lead;
  }
}
