/* =========================================
Links/Anchor Component
========================================= */

a,
.link {
  outline: none;
  color: inherit;
  text-decoration: inherit;
  &:hover {
  }
  &.is-active {
  }
}
